.search {
    position: absolute;
    top: 35px;
    left: 25%;
    width: 70vw;
}

.rdrDays {
    display: grid !important;
    grid-template-columns: auto auto auto auto auto auto;
}

.search>h2 {
    display: flex;
    align-items: center;
    justify-content: space-between;
    width: 559px;
    background: white;
    position: absolute;
    left: 0;
    top: 369px;
}


.search>input {
    width: 539px;
    padding: 20px;
    position: absolute;
    left: 0;
    height: 30px;
    top: 420px;
    border: none;
    outline-width: 0;


}

.search>input:focus {
    border: none;
    outline-width: 0;
}